In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [192]:
df1 = pd.read_csv('data/turnstile_160507.txt')
df2 = pd.read_csv('data/turnstile_160514.txt')
df3 = pd.read_csv('data/turnstile_160521.txt')
df4 = pd.read_csv('data/turnstile_160528.txt')
frames = [df1, df2, df3, df4]
df = pd.concat(frames)

In [193]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197

In [199]:
df = df.sort(['C/A','UNIT','SCP','DATE','TIME'])

/Users/connor/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [198]:
df['diffEntries'] = df.ENTRIES.diff()

In [197]:
df.columns = (u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES',
       u'EXITS',
       u'diffEntries')

df['diffExits'] = df.EXITS.diff()

In [200]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,diffEntries,diffExits
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983,NaN,NaN
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993,50.0,10.0
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024,23.0,31.0
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134,144.0,110.0
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197,296.0,63.0

In [201]:
df['machine_change'] = (df.SCP != df.SCP.shift())

In [202]:
dfrei = df.reset_index(drop=True)

In [203]:
df = dfrei

In [204]:
df.diffEntries[df.index[df.machine_change==True]] = 0

/Users/connor/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [205]:
df.diffExits[df.index[df.machine_change==True]] = 0

/Users/connor/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [206]:
df['counterReset'] = ((df.diffEntries > 6000) | (df.diffEntries < 0) | (df.diffExits > 6000) | (df.diffExits < 0))

In [207]:
df.diffExits[df.index[df.counterReset==True]] = 0

/Users/connor/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [208]:
df.diffEntries[df.index[df.counterReset==True]] = 0

/Users/connor/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [209]:
df['TotalVol'] = df.diffEntries+df.diffExits

In [210]:
df.diffEntries[df.index[df.counterReset==True]]

5803      0.0
5804      0.0
5805      0.0
5806      0.0
5807      0.0
5808      0.0
5809      0.0
5810      0.0
5811      0.0
5812      0.0
5813      0.0
5814      0.0
5815      0.0
5816      0.0
5817      0.0
5818      0.0
5819      0.0
5820      0.0
5821      0.0
5822      0.0
5823      0.0
5824      0.0
5825      0.0
5826      0.0
5827      0.0
5828      0.0
5829      0.0
5830      0.0
5831      0.0
5832      0.0
         ...
766315    0.0
766316    0.0
766317    0.0
766318    0.0
766319    0.0
766320    0.0
766321    0.0
766322    0.0
766323    0.0
766324    0.0
766325    0.0
766326    0.0
766327    0.0
766328    0.0
766329    0.0
766330    0.0
766331    0.0
766332    0.0
766333    0.0
766334    0.0
766335    0.0
766336    0.0
766337    0.0
766338    0.0
766339    0.0
766340    0.0
773104    0.0
775898    0.0
776078    0.0
776224    0.0
Name: diffEntries, dtype: float64

In [215]:
len(df)

777938

In [168]:
top50 = top50.sort('TotalVol',ascending=False)

/Users/connor/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [217]:
top50['']

TypeError: 'Index' object is not callable

In [170]:
top50.to_csv('volumeByStation')