In [29]:
def swapped(c,d):
    d2 = c*100.0
    c2 = d/100.0
    return c2+d2

In [30]:
c = 45
d = .22

check1 = c+d
check2 = swapped(d,c)
print check1, check2

45.22 22.45

In [43]:
import numpy as np
x = np.arange(0,100)
y = np.arange(0,100)

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24
25  25
26  26
27  27
28  28
29  29
..  ..
70  70
71  71
72  72
73  73
74  74
75  75
76  76
77  77
78  78
79  79
80  80
81  81
82  82
83  83
84  84
85  85
86  86
87  87
88  88
89  89
90  90
91  91
92  92
93  93
94  94
95  95
96  96
97  97
98  98
99  99

[100 rows x 1 columns]

In [6]:
swapped(.45,42)

45.42